
.footer{
    background-color: #0d6efd !important;
}
.header {
    background-color: #0d6efd !important;
}
.title-text {
    color: white !important;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}
.titre {
    margin-left: 0px;
}
.container {
    margin-left: 0px;
}
.customRange, .customInput {
    margin-left: 0px;

}
form {
    margin-top: 100px;
    margin-left: 0px;
}
button {
    margin-left: 20px;
}